<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>for my neha</title>
    <style>
        input[type=submit]{
            width: 100px;
            padding: 8px;
            background-color: green;
            color: white;
        }
        body {
            background-image: url("/static/photos/im2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            color: white;
        }
    </style>
</head>
<body>
<h1>Vo ga neha happy birthday ga</h1>
<h1>Allah tuje kabbi acha rakta ga</h1>
<h1>tuje kabbi acha ch sarkta la ga </h1>
<h1>tu jattan ga</h1>
<h1>i miss you so much ga</h1>
<h1>bye ga</h1>
<form action="/wishes" method="post">
    <input type="submit" value="ise click kar">
</form>
</body>
</html>