<!DOCTYPE html>
<html>
<head>
	<title>nageswari neha</title>
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
	<div class="signup">
		<div class="heading">
			<marquee scrollamount=15>
				<h1 id="mar1">Vo ga dring dring rani signin hoko ud, "name ako gengulu" password ako nehaansar</h1>
			</marquee>
		</div>
		<div class="content">
			<div class="inputs">
				<form class="forms" action="/verify_signin" method="post">
					<h1>Name</h1>
					<input type="text" name="name" placeholder="muchleko name type kar">
					<h1>Password</h1>
					<input type="password" name="password" placeholder="vo ga upar hi ga">
					</br></br></br></br>
					<input type="submit" value="Vo ga ise mar">
				</form>
			</div>



		</div>
		
	</div>
</body>
</html>
