<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>neha bp</title>
    <style>
        input[type=submit]{
            width: 100px;
            padding: 8px;
            background-color: blue;
            color: white;
        }
        body {
            background-image: url("/static/photos/im6.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            color: green;
        }
    </style>
</head>
<body>
    <h1>bp parichyam</h1>
    <h2>peru: gengulu</h2>
    <h2>sontauru: rajpalam</h2>
    <h2>prastutaniki padi unna uru: kurugonda</h2>
    <h2>tandri: nowshad</h2>
    <h2>talli: jasmine mams</h2>
    <h2>challi: pps</h2>
    <h2>musali: budi</h2>
    <h2>awards: mude swari award from hari konment</h2>
    <h1>now muddu perlu</h1>
    <h3>nehulu</h3>
    <h3>gengulu</h3>
    <h3>chapalu</h3>
    <h3>hatti</h3>
    <h3>bp</h3>
    <h3>abbadbaji mitta</h3>
    <h3>kotemera katta</h3>
    <h3>bingin katta</h3>
    <h2>ila chepukuntu pote chala perlu unnai, ivi main</h2>
    <h1>ee roju aa petra putina roju anta, wishes chepdama mari</h1>
    <form action="/viedo" method="post">
        <input type="submit" value="deni naooku">
    </form>
</body>
</html>